version: "3.7"

services:
  db-mysql:
    image: mysql
    environment:
      MYSQL_DATABASE: mannayodb
      MYSQL_USER: root
      MYSQL_PASSWORD: tmdghk9609!
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - 3306:3306
    networks:
      - springboot-mysql-net
  test-app:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - db-mysql
    networks:
      - springboot-mysql-net

networks:
  springboot-mysql-net:
    driver: bridge